body {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background:#08192d;
  color: white;
}

img{
  display: flex;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

h1{
  font-size: 100px;
  color: white;
  margin: 50px;
}

p{
  font-size: 2em;
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
}

.startGame{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  animation: fadeIn .8s infinite alternate;
  animation-delay: .8s;
}

.queueArea ul{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  color: yellow;
}
#gameData{
  font-family: 'Noto Serif TC', serif;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  bottom: 5%;
}

#userName{
  font-family: 'Noto Serif TC', serif;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  top: 5%;
}

#loading{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  background-color: #121212;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
}

#gameArea{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#edit{
  
}

@keyframes fadeIn{
  from{ opacity: 0; }
}

@keyframes fadeOut{
  to{ opacity: 0; }
}

@keyframes flyIn{
  from{ opacity: 0; }
  from{  transform: translateY(-50%); }
  to { transform: translateY(0%);   ;}
}

@keyframes bg1{
  to{ background-color: #0e2e53;}
}

@keyframes bg2{
  to{background-color: #144379;}
}
@media only screen and (max-width: 600px){

  img{
    width: 60px;
    height: 60px;
  }

  h1{
    font-size: 80px;
    margin: 10px;
  }

  button{
    max-width: 300px;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
  }

  button:hover{
    background-color:#005FCB;
  }
}