body {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background:#08192d;
  color: white;
}

h1{
  font-size: 100px;
  color: white;
  margin: 50px;
}

p{
  font-size: 2em;
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
}

.startGame{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  animation: fadeIn .8s infinite alternate;
  animation-delay: .8s;
  padding: 10px;
  border: thick double white;
  cursor: pointer;
}

.queueArea ul{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  color: yellow;
}
#gameData{
  font-family: 'Noto Serif TC', serif;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  bottom: 5%;
}

#gameState{
  font-family: 'Noto Serif TC', serif;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  top: 5%;
}

#loading{
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  background-color: #121212;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
}

#gameArea{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#handArea{
  float: inline-end;
  width: 100vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  z-index: 10;
  white-space: nowrap;
  display: none;
  justify-content: start;
  overflow-x: auto;
  overflow-y: visible ;
  align-items: flex-end;
}

#handState{
 font-family: 'Noto Serif TC', serif;
 font-size: 1.5em;
 text-align: center;
 width: 100vw;
 top: 0;
 position: absolute;
}
.hand{
  bottom: 0;
  position: absolute;
  cursor: pointer;
  height: 15vh;
}
@keyframes fadeIn{
  from{ opacity: 0; }
  to{opacity: 1;}
}

@keyframes fadeOut{
  to{ opacity: 0; }
}

@keyframes flyIn{
  from{ opacity: 0; }
  from{  transform: translateY(-50%); }
  to { transform: translateY(0%);   ;}
}

@keyframes bg1{
  from {background:#08192d;}
  to{ background-color: #0e2e53;}
}

@keyframes bg2{
  from{ background-color: #0e2e53;}
  to{background-color: #144379;}
}
@media only screen and (max-width: 600px){

  h1{
    font-size: 80px;
    margin: 10px;
  }

  button{
    max-width: 300px;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
  }

  button:hover{
    background-color:#005FCB;
  }

  #gameArea{
    justify-items: left;
  }

  .hand{
    cursor: none;
  }
}