body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: url('https://raw.githubusercontent.com/InFinity54/LoL_DDragon/refs/heads/master/extras/loadingscreen/summonersriftmap_loadingscreen.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Beaufort for LOL", sans-serif;
}

input {
  font-family: "Beaufort for LOL", sans-serif;
}

#gameArea {
  width: 100%;
  max-width: 450px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#championSelect {
  position: absolute;
  width: 100%;
  max-width: 225px;
  font-size: 2rem;
}

#submit {
  position: absolute;
  bottom: 10%;
  width: 100%;
  max-width: 225px;
  color: #98b5ae;
  background-color: #1e2328;
  border: 3px solid #0595a8;
  transition: all .1s;
  line-height: 2.5em;
  font-size: large;
  cursor: pointer;
}

#submit:hover {
  color: #f0e5ce;
  background-color: #123a4d;
  border: 3px solid #75c1bd;
}

#timer {
  position: absolute;
  top: 10%;
  font-size: 5rem;
  color: #f0e5ce;
}

#timerMS {
  font-size: .5em;
}

#gameover {
  position: absolute;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  background-color: #010a13;
  width: 90%;
  max-width: 405px;
  height: 50%;
  border: 3px solid #785a28;
  color: #f0e5ce;
  text-align: center;
}

#gameoverlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000000dd;
}

#tryagin {
  background-color: #20252a;
  border: 3px solid #c8aa6c;
  color: #cdbe91;
  width: max-content;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  align-self: center;
  margin-bottom: 2px;
}

.wrong-answer {
  animation: wrongAns .5s ease-in-out 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


@keyframes wrongAns {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: inset 0 0 100px #C73E3A;
  }

  100% {
    box-shadow: none;
  }
}

@media only screen and (max-width: 600px) {}