:root {
    --max-width: 600px;
}

body {
    height: 100vh;
    margin: 0px;
}


#groupInfoCard {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    height: 40%;
    width: 100%;
    z-index: 9999;
    max-width: var(--max-width);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 5px 53px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    overflow: auto;
}

.infoCardContent {
    width: 100%;
    padding: 30px;
}

.infoCardContent>table {
    font-size: 20px;
}

.infoCardContent>table th {
    white-space: nowrap;
}

#map {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#test {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

#classInfo {
    width: 100%;
    border: 1px solid black;
}