:root {
    --max-width: 600px;
}

body {
    height: 100vh;
    margin: 0px;
}

#map {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

#img {
    height: 100%;
    z-index: 9999;
    display: none;
}

#R {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    z-index: 10000;
    box-shadow: 0px 0px 20px 1px rgba(255, 251, 0, 0.568);
    ;
}