body {
    margin: 0;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/extras/loadingscreen/howlingabyssmap_loadingscreen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}