html,
body {
  height: 100%;
  margin: 0 auto;
  /*background-image: radial-gradient(ellipse at center top,#2C5364,#0F2027 87%);*/
  background: #121212;
}

.div {
  margin: 0 auto;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  font-family: 'Noto Serif TC', serif;
  color: #FFFFFF;
}

h1,
h2,
h3 {
  display: inline-block;
  margin: 8px 64px 8px 10%;
  font-family: 'Noto Sans TC', sans-serif;
}

.div p {
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
  font-size: 4em;
  text-align: center;
}

.div a {
  margin: 0 auto;
  /* font-family: Microsoft JhengHei; */
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
}

@media screen and (max-width: 600px) {

  .div p {
    line-height: 1em;
    font-family: 'Noto Serif TC', serif;
    font-size: 3em;
    font-style: bold;
    text-align: center;
  }

  .div a {
    margin: 0 auto;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
    font-style: bold;
  }

  h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3em;
  }

  h2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
  }

  h3 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.8em;
  }
}