body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #000;
    overflow: hidden;
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-container {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.3);
    animation: bgAnim 50s ease-in-out infinite;
}

#eatext {
    display: none;
    color: #CECE5A;
    animation: eatextAnim .5s ease-in-out forwards;
}

.title-wrap {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title-food-wrap {
    display: none;
    flex-direction: column;
    margin-top: -16px;
    height: 100px;
    animation: textAnim 2.5s ease-in-out forwards;
}

.title {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;
}

.title-plus {
    position: absolute;
    width: 45px;
    overflow: hidden;
    margin-left: 250px;
    display: none;
}

.title-plus span {
    margin-left: -45px;
    animation: textAnimRight .5s ease-in-out forwards;
    animation-delay: .5s;
}

.title-example {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-example .title {
    color: rgba(125, 125, 125, .5);
}

.btn-wrap {
    display: none;
    margin-top: 150px;
    height: 47px;
    position: absolute;
    overflow: hidden;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 200px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    border-radius: 50px;
    border: 1px solid;
    box-shadow: 0px 5px;
    cursor: pointer;
    animation: btnAnimUp .5s;
    transition: all .2s ease-in-out;
}

.btn-start:hover {
    background-color: currentColor;
    border-color: #fff;
    box-shadow: unset;
}

.btn-start:hover span {
    color: #fff;
}

.btn-start:hover i {
    color: #fff;
}

.btn-start span {
    margin-bottom: 4px;
}

.arrow {
    position: absolute;
    right: 25px;
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes textAnim {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-116%);
    }

    25% {
        transform: translateY(-116%);

    }

    40% {
        transform: translateY(-232%);
    }

    45% {
        transform: translateY(-232%);
    }

    60% {
        transform: translateY(-348%);
    }

    65% {
        transform: translateY(-348%);
    }

    80% {
        transform: translateY(-464%);
    }

    85% {
        transform: translateY(-464%);
    }

    100% {
        transform: translateY(-580%);
    }
}

@keyframes eatextAnim {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textAnimLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-8%);
    }
}

@keyframes textAnimRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes bgAnim {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

@keyframes btnAnimUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}