html,
body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background:#08192d; */
}

.div p {
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
  font-size: 5em;
  font-style: bold;
}

.div a {
  margin: 0 auto;
  font-family: 'Noto Serif TC', serif;
}

.card {
  color: #000000;
  background: aqua;
  display: inline-block;
}

#roomTitle {
  color: #000000;
  background-color: orange;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}

#members {
  color: #000000;
  background-color: turquoise;
  text-align: center;
  white-space: pre-wrap;
  font-size: 1.5em;
  width: 50vw;
}

h1 {
  line-height: 0.5em;
  font-family: 'Noto Serif TC', serif;
  font-size: 4em;
}