html,
body {
  height: 100%;
  margin: 0 auto;
  background: #121212;
  user-select: none;
}

.div {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.div p {
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
  font-size: 5em;
  font-style: bold;
}

.div a {
  margin: 0 auto;
  font-family: 'Noto Serif TC', serif;
}

.card {
  color: #FFFFFF;
  display: inline-block;
  margin: 20px;
  width: 120px;
  height: 150px;
}

.box {
  width: 100vw;
  vertical-align: middle;
  text-align: center;
}

h1,
h2 {
  line-height: 0.5em;
  font-family: 'Noto Serif TC', serif;
}

canvas {
  display: block;
  z-index: 9999;
}

.timer {
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
}