.cursor-pointer {
    cursor: pointer !important;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 1;
    transition: all .5s ease;
    pointer-events: auto;
    visibility: visible;
}

#loading.hide {
    transition: all .5s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.viewer-container .viewer-close {
    top: auto !important;
    right: auto !important;

    width: 100% !important;
    height: 50px !important;
    bottom: 0;
    left: 0;
    background: #dc3545;
    border-radius: 0;
    text-align: center;
}

.viewer-container .viewer-button:focus,
.viewer-button:hover {
    background: #bb2d3b !important;
}

.viewer-container .viewer-close::before {
    color: #fff !important;
    top: 0;
    left: 0;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    content: " ✕ 關閉菜單" !important;
    background-image: url("") !important;
}