:root {
    --sk-color: #f8f9fa
}

.cursor-pointer {
    cursor: pointer !important;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999;
    background-color: #000000ad;
    opacity: 1;
    transition: all .5s ease;
    pointer-events: auto;
    visibility: visible;
}

#loading.hide {
    transition: all .5s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#store-list-container {
    height: calc(100dvh - 170px);
    width: 100%;
    overflow: auto;
}

.pc-link {
    display: flex !important;
    align-items: center;
}

.viewer-container .viewer-close {
    top: auto !important;
    right: auto !important;

    width: 100% !important;
    height: 50px !important;
    bottom: 0;
    left: 0;
    background: #dc3545;
    border-radius: 0;
    text-align: center;
}

.viewer-container .viewer-button:focus,
.viewer-button:hover {
    background: #bb2d3b !important;
}

.viewer-container .viewer-close::before {
    color: #fff !important;
    top: 0;
    left: 0;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    content: " ✕ 關閉菜單" !important;
    background-image: url("") !important;
}

/* 隱藏 Chrome / Safari / Edge 等 Webkit 內核的 details 小箭頭 */
details summary::-webkit-details-marker {
    display: none;
}

/* 隱藏 Firefox 內核的 marker */
details summary::marker {
    content: none;
}

/* 讓 summary 滑鼠移上去有手型指標，提示「可點」 */
details summary {
    cursor: pointer;
}

.rolling-text {
    color: #bbb;
}

.draw-highlight {
    color: #084298;
    background-color: #bacbe6;
    animation: highlightAnim 0.5s ease-in forwards;
}

.border-light-gray {
    --bs-border-opacity: 1;
    border-color: rgb(173, 181, 189) !important;
}

.bg-light-gray {
    background-color: rgb(206, 212, 218) !important;
}

@keyframes highlightAnim {
    to {
        color: #212529;
        background-color: #ffffff;
    }
}