html,body {
  height: 100%;
  margin: 0 auto;
  background-image: radial-gradient(ellipse at center top,#2C5364,#0F2027 87%);
}

.div {
  margin: 0 auto;
  /*line-height: 100px;*/
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.div p{
  /*font-family: Microsoft JhengHei;*/
  /*font-family: 'Inconsolata', monospace;*/
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
  font-size: 4em;
  font-style: bold;
}

.div a{
  margin: 0 auto;
  /*font-family: Microsoft JhengHei;*/
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  font-style: bold;
}