html,body {
  height: 100%;
  margin: 0 auto;
  /*background-image: radial-gradient(ellipse at center top,#2C5364,#0F2027 87%);*/
  background: #08192D;
}

.div {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.div p{
  line-height: 1em;
  font-family: 'Noto Serif TC', serif;
  font-size: 4em;
  font-style: bold;
}

.div a{
  margin: 0 auto;
  /*font-family: Microsoft JhengHei;*/
  font-family: 'Noto Serif TC', serif;
  font-size: 2em;
  font-style: bold;
}

@media screen and (max-width: 600px){
  .div p{
    line-height: 1em;
    font-family: 'Noto Serif TC', serif;
    font-size: 3em;
    font-style: bold;
  }

  .div a{
    margin: 0 auto;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
    font-style: bold;
  }
}